# Mozilla-IAM template for configuration of the Mozilla Change Integration Service

[cis]
# Is the environment running locally, production, staging, or test.
environment=local

# AssumeRole arn is required even locally.  Use a dummy fixture if you do not have a role setup.
assume_role_arn=arn:aws:iam::123456789000:role/demo-assume-role

# Set these parameters if you are running locally.
# dynalite_host=localhost
# dynalite_port=4567
# kinesalite_host=localhost
# kinesalite_port=4568
