service: webhook-notifications
plugins:
  - serverless-plugin-tracing
custom:
  webhookStage: ${opt:stage, self:provider.stage}
  webhookEnvironment:
    CIS_ENVIRONMENT:
      production: production
      development: development
      testing: testing
    DYNAMODB_TABLE:
      production: production-identity-vault
      development: development-identity-vault
      testing: testing-identity-vault
    IDENTIFIER:
      production: hook.sso.mozilla.com
      development: hook.dev.sso.allizom.org
      testing: hook.test.sso.allizom.org
    CIS_DYNAMODB_ARN:
      production: arn:aws:dynamodb:us-west-2:320464205386:table/production-identity-vault
      development: arn:aws:dynamodb:us-west-2:320464205386:table/development-identity-vault
      testing: arn:aws:dynamodb:us-west-2:320464205386:table/testing-identity-vault
    WEBHOOK_NOTIFICATION_AUTH0_DOMAIN:
      production: auth.mozilla.auth0.com
      development: auth.mozilla.auth0.com
      testing: auth.mozilla.auth0.com
    CIS_DYNAMODB_STREAM_ARN:
      production: arn:aws:dynamodb:us-west-2:320464205386:table/production-identity-vault/stream/2019-03-12T15:52:29.265
      development: arn:aws:dynamodb:us-west-2:320464205386:table/development-identity-vault/stream/2020-04-08T20:18:21.062
      testing: arn:aws:dynamodb:us-west-2:320464205386:table/testing-identity-vault/stream/2020-04-16T02:49:18.394
    CIS_SECRET_MANAGER_SSM_PATH:
      production: /iam/cis/production/webhook_notifier
      development: /iam/cis/development/webhook_notifier
      testing: /iam/cis/testing/webhook_notifier
    CIS_SUBSCRIPTIONS:
      production: https://people.mozilla.org/beta/
      development: https://dinopark.dev.k8s.sso.allizom.org/beta/
      testing: https://dinopark.test.k8s.sso.allizom.org/beta/
    CIS_RP_URLS:
      production: https://people.mozilla.org/events/update,https://discourse-staging.itsre-apps.mozit.cloud/mozilla_iam/notification,https://discourse.mozilla.org/mozilla_iam/notification
      development: https://dinopark.k8s.dev.sso.allizom.org/events/update,https://auth0-cis-webhook-consumer.dev.sso.allizom.org/post
      testing: https://dinopark.k8s.test.sso.allizom.org/events/update
provider:
  name: aws
  runtime: python3.8
  stage: ${opt:stage, 'dev'}
  tracing: true # enable tracing
  environment:
    CIS_DYNAMODB_ARN: ${self:custom.webhookEnvironment.CIS_DYNAMODB_ARN.${self:custom.webhookStage}}
    CIS_ENVIRONMENT: ${self:custom.webhookEnvironment.CIS_ENVIRONMENT.${self:custom.webhookStage}}
    CIS_API_IDENTIFIER: ${self:custom.webhookEnvironment.IDENTIFIER.${self:custom.webhookStage}}
    CIS_AUTHZERO_TENANT: ${self:custom.webhookEnvironment.WEBHOOK_NOTIFICATION_AUTH0_DOMAIN.${self:custom.webhookStage}}
    CIS_RP_URLS: ${self:custom.webhookEnvironment.CIS_RP_URLS.${self:custom.webhookStage}}
    WEBHOOK_NOTIFICATIONS_AUTH0_DOMAIN: ${self:custom.webhookEnvironment.WEBHOOK_NOTIFICATION_AUTH0_DOMAIN.${self:custom.webhookStage}} 
    CIS_SECRET_MANAGER_SSM_PATH: ${self:custom.webhookEnvironment.CIS_SECRET_MANAGER_SSM_PATH.${self:custom.webhookStage}}
  iamRoleStatements:
    - Effect: "Allow" # xray permissions (required)
      Action:
        - "xray:PutTraceSegments"
        - "xray:PutTelemetryRecords"
      Resource:
        - "*"
    - Effect: Allow
      Action:
        - "dynamodb:DescribeTable"
        - "dynamodb:DescribeStream"
        - "dynamodb:GetRecords"
        - "dynamodb:GetShardIterator"
        - "dynamodb:ListStreams"
      Resource:
        - ${self:custom.webhookEnvironment.CIS_DYNAMODB_ARN.${self:custom.webhookStage}}
        - ${self:custom.webhookEnvironment.CIS_DYNAMODB_ARN.${self:custom.webhookStage}}/*
    - Effect: Allow
      Action:
        - "ssm:GetParameterHistory"
        - "ssm:GetParametersByPath"
        - "ssm:GetParameters"
        - "ssm:GetParameter"
      Resource:
        - arn:aws:ssm:*:*:parameter${self:custom.webhookEnvironment.CIS_SECRET_MANAGER_SSM_PATH.${self:custom.webhookStage}}/*
    - Effect: Allow
      Action:
        - "secretsmanager:GetResourcePolicy"
        - "secretsmanager:GetSecretValue"
        - "secretsmanager:DescribeSecret"
        - "secretsmanager:ListSecretVersionIds"
        - "secretsmanager:UpdateSecret"
      Resource:
        - arn:aws:secretsmanager:*:*:secret:${self:custom.webhookEnvironment.CIS_SECRET_MANAGER_SSM_PATH.${self:custom.webhookStage}}/*
    - Effect: Allow
      Action:
        - "kms:Decrypt"
      Resource:
        - arn:aws:kms:us-west-2:320464205386:key/ef00015d-739b-456d-a92f-482712af4f32
functions:
  notifier:
    handler: handler.handle
    description: webhook notifications out of cis for profile updates.
    memorySize: 512
    timeout: 120
    events:
      - stream: 
          arn: ${self:custom.webhookEnvironment.CIS_DYNAMODB_STREAM_ARN.${self:custom.webhookStage}}
          batchSize: 100
          startingPosition: LATEST
          enabled: true
    layers:
      -  ${ssm:/iam/cis/${self:custom.webhookStage}/lambda_layer_arn}
